project           = "iac"
service           = "env"
environment       = "dev"
region            = "eus"
sequence          = "001"
location          = "East US"
business_unit     = "platform"
owner             = "platform-team"
technical_contact = "platform-team@example.com"
op_co             = "shared"
description       = "Managed by GitHub Actions and Terraform"
